
/*@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);*/
/*@import url(http://fonts.googleapis.com/css?family=Cabin+Condensed:400,500,600,700);*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);

body {
    background: #e0e0e0;
    color: #222;
    margin: 0px;
    font-size: 26px;
    //font-family: "xHelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    //font-family: 'Roboto Condensed', sans-serif;
    //font-family: 'Cabin Condensed', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 33px;
}

a {
    text-decoration: none;
    display: block;
}

.overallInterfaceParent {
    //width:315px;
    max-width:390px;
}

.loadingIndicatorBar {
    height:5px;
    border-bottom: 2px solid #222;
}

    .loadingNow {
        background: #7af;
        background-size: 100px 100px;
        background-image: 
        -webkit-linear-gradient(
            0deg, 
            rgba(255, 255, 255, .4) 15%, 
            transparent 15%, 
            transparent 50%, 
            rgba(255, 255, 255, .4) 50%, 
            rgba(255, 255, 255, .4) 65%, 
            transparent 65%, 
            transparent
        );
                animation: animate-stripes 6s linear infinite;             
        -webkit-animation: animate-stripes 6s linear infinite;             
           -moz-animation: animate-stripes 6s linear infinite;             
             -o-animation: animate-stripes 6s linear infinite;             
    }
    @keyframes animate-stripes {
        from {background-position: 0 0;}
        to {background-position: 100px 0;}
    }
    @-webkit-keyframes animate-stripes {
        from {background-position: 0 0;}
        to {background-position: 100px 0;}
    }

    .loadingStale {
        background: #f88;
    }

.headerBar {
    padding: 10px 0px; 
    padding-bottom: 5px;
}

    .headerCell {
        display: inline-block;
        margin-right: 5px;
        vertical-align: top;
        width: 75px;
        text-align: right;
    }
    .headerCellRight {
        display: inline-block;
        margin-right: 10px;
        vertical-align: top;
        text-align: right;
        float: right;
    }

        .headerCellSmallText {
            font-size: 15px;
            font-family: 'Open Sans', sans-serif;
            line-height: normal;
            color: #555;
        }

        .headerCellLargeText {
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            margin-left: 5px;
        }

        .faint {
            color: #777;
        }

        .locationDropdownParent {
            width: 70px;
            overflow: hidden;
            padding-left: 5px;
            opacity: 0;
            position: absolute;
            margin-top: -30px;
            font-size: 26px;
        }
            .locationDropdown {
                border: 0;
                background: transparent;
                height: 32px;
                width: 91px;
                -webkit-appearance: none;
                font-weight: bold;
                text-align: right;
                padding: 0px;
                margin: 0px;
                border-radius: 0px;
                font-size: 26px;
            }

                .locationDropdownOption {
                    text-align: left;
                    font-size: 26px;
                }

    .settingsButton {
        float: right;
        margin-right: 5px;
        margin-top: 12px;
        height: 30px;
        padding: 0px 8px;
        border-radius: 3px;
        background: #999;
        text-align: center;
        color: #eee;
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
    }
        .settingsButtonLabel {
            display: inline-block;
            /* vertical center */
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
               -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                 -o-transform: translateY(-50%);
                    transform: translateY(-50%);
        }

.tripRows {
}

    .tripRow {
        margin-bottom: 2px;
        padding: 8px 0px;
        background: #f8f8f8;
    }
    .tripRow:nth-child(odd) {
    }

        .tripCell {
            display: inline-block;
            margin-right: 5px;
            vertical-align: top;
        }

        .tripTimeCell {
            text-align: right;
            width: 75px;
        }

            .tripTimeCellSmallText {
                font-size: 15px;
                font-family: 'Open Sans', sans-serif;
                line-height: normal;
                color: #777;
            }

            .tripTimeCellBigText {
                font-size: 30px;
                font-weight: bold;
            }

        .tripLegsCell {
            margin-left: 20px;
        }

            .tripLegLocationAndRoute {
            }
                .tripLocation {
                    vertical-align: top;
                    margin-right: 5px;
                    margin-top: 8px;
                    background: #c44;
                    color: #f0f0f0;
                    font-size: 15px;
                    font-family: 'Open Sans', sans-serif;
                    display: inline-block;
                    border-radius: 3px;
                    padding: 7px 4px;
                    line-height: 50%;
                }

                .tripRoute {
                    color: #666;
                    display: inline-block;
                    font-weight: bold;
                }

.details {
    color: #aaa;
    border-top: 2px solid #222;
    font-size: 13px;
    padding: 15px;
    padding-top: 30px;
    margin-top: -2px;
    font-family: 'Open Sans', sans-serif;
    line-height: normal;
}
